<div class="container">
    <h1 class="title text-center">Eat Da Burger</h1>
    <div class="row">
        <div class="col-4 text-center mx-auto">
            <div class="card">
                <form class="create-form">
                    <div class="form-group">
                        <label for="burg">Add Burger Order:</label>
                        <input type="text" id="burg" name="name">
                    </div>
                    <button type="submit">ORDER IN</button>
                </form>
            </div>
        </div>
        <div class="col-4 text-center bg-transparant mx-auto">
            <div class="card">
                <h3>Order Up!</h3>
                <div class="card-body">
                    <span>
                        {{#each burger}}
                        {{#if devoured}}
                        {{> burger/burger-block devoured=1}}
                        {{/if}}
                        {{/each}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-4 text-center bg-transparant mx-auto">
            <div class="card">
                <h3>Too Full!</h3>
                <div class="card-body">
                    <span>
                        {{#each burger}}
                        {{#unless devoured}}
                        {{> burger/burger-block devoured=0}}
                        {{/unless}}
                        {{/each}}
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>