<p>
	{{burger_name}}

	<button class="devour btn btn-success" data-id="{{id}}" data-devoured="{{devoured}}">
		<i class="fas fa-utensils"></i>
		{{#if devoured}}Devour It!!{{else}}Done{{/if}}
	</button>
	
</p>

